@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", Space Grotesk, sans-serif;
}

body {
  background-color: #121212;
  height: 100%;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(251, 223, 45, 0.9137254902);
  flex-wrap: wrap;
  padding: 10px;
}
.navbar a {
  cursor: pointer;
}

.logo img {
  width: 200px;
  height: auto;
}

.links {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  gap: 5px;
  display: none;
}
@media screen and (min-width: 1201px) {
  .links {
    display: block;
  }
}
.links a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: black;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.8s ease;
}
.links a:hover {
  color: white;
  background-color: #0f3b6f;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.buttoms-specials {
  display: flex;
  flex-direction: row;
  justify-content: flex-star;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.buttoms-specials select {
  font-size: 14px;
  background-color: rgb(194, 43, 40);
  color: white;
  padding: 6px 2px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
.buttoms-specials select option {
  background-color: white;
  color: black;
}

.navbar-button {
  cursor: pointer;
  font-size: 14px;
  background-color: rgb(194, 43, 40);
  color: white;
  padding: 7px 4px;
  border: none;
  border-radius: 10px;
  outline: none;
  display: none;
}
@media screen and (min-width: 1201px) {
  .navbar-button {
    display: block;
  }
}

.main-header {
  background-image: url("./img/general/Background4.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 80vh;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}
.main-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.header-content {
  position: relative;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-content h1 {
  font-size: 30px;
}
.header-content h1:hover {
  transform: scale(1.05);
}
.header-content p {
  font-size: 15px;
}
.header-content p:hover {
  transform: scale(1.03);
}

.botonsdelheader {
  position: relative;
}
.botonsdelheader button {
  font-size: 5px;
  margin: 20px;
  background-color: rgb(194, 43, 40);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.botonsdelheader button:hover {
  background-color: #a01a1a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.container-pelis {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

#Movies h2 {
  font-size: 34px;
  color: white;
  text-align: start;
  margin-top: 20px;
}

#Coming-soon h2 {
  font-size: 34px;
  color: white;
  text-align: start;
  margin-top: 20px;
}

.hover-underline {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 34px;
}
.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #0f3b6f;
  transition: width 0.4s ease-out;
}
.hover-underline:hover::after {
  width: 100%;
}

.grid {
  display: grid;
  width: 100%;
  gap: 30px;
  place-items: center;
  padding: 30px 10px;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.movie-card {
  padding: auto;
  background: white;
  border-radius: 10px;
  border: solid 3px #fbc02d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  transition: all 0.3s ease;
}
.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgb(247, 223, 45);
}

.movie-poster {
  position: relative;
  height: 320px;
  overflow: hidden;
}
.movie-poster img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  transition: opacity 0.3s ease;
}

.movie-summary {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.movie-summary p {
  font-size: 16px;
  max-width: 350px;
}

.movie-card:hover .movie-summary {
  opacity: 1;
}

.movie-info {
  padding: 15px;
  text-align: center;
  background: white;
  transition: background 0.3s ease;
}
.movie-info h3 {
  margin: 10px 0;
  font-size: 18px;
}
.movie-info h3 p {
  color: #666;
}

.movie-meta {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.movie-meta img {
  margin-right: 5px;
}
.movie-meta img span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
}

.buy-ticket {
  background: #a01a1a;
  color: white;
  border: none;
  font-size: 14px;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}
.buy-ticket:hover {
  transform: scale(1.05);
}/*# sourceMappingURL=styles.css.map */