
.main-header 
  background-image: url("./img/general/background4.jpg")
  background-size: cover
  background-position: center
  position: relative
  min-height: 80vh
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  &::before 
    content: ""
    position: absolute
    inset: 0
    background: rgba(0, 0, 0, 0.5)
    z-index: 0

.header-content 
  position: relative
  z-index: 1
  color: white
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  h1
    font-size: 40px
    p
      font-size: 200px
    &:hover
      transform: scale(1.05)

.botonsdelheader 
  position: relative
  button 
    font-size: 16px
    margin-top: 20px
    background-color: $color-boton
    color: $color-texto
    padding: 10px 20px
    border-radius: 8px
    border: none
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    gap: 10px
    &:hover 
      background-color: $color-boton-hover
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)
      transform: scale(1.05)
    


