@import ./_mixins
.main-header 
  background-image: url("./img/general/Background4.jpg")
  background-size: cover
  background-position: center
  position: relative
  min-height: 80vh
  @include flex(center, center, center, 0)
  
  &::before 
    content: ""
    position: absolute
    inset: 0
    background: rgba(0, 0, 0, 0.5)
    z-index: 0

.header-content 
  position: relative
  z-index: 1
  color: white
  @include flex(column, center ,center , 0px )
  text-align: center
  h1
    font-size: 40px
    &:hover
      transform: scale(1.05)
  p
    font-size: 17px
    &:hover
      transform: scale(1.03)

.botonsdelheader 
  position: relative
  button 
    font-size: 5px
    margin: 20px
    background-color: $color-boton
    color: $color-texto
    padding: 10px 20px
    border-radius: 8px
    border: none
    @include flex(flex-star,center ,center ,0px)
    gap: 5px
    cursor: pointer
    &:hover 
      background-color: $color-boton-hover
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)
      transform: scale(1.05)
    


