@import ./_mixins
@import ./_general

.navbar
  @include flex(row,space-between,center,5px)
  flex-wrap: wrap
  background-color: $color-navbar
  padding: 20px 15px
  position: sticky
  a
    cursor: pointer

.logo
  img
    width: 300px
    height: auto
    @media screen and (min-width:768px)
    width: 200px
    height: auto

.links
  display: flex
  flex-wrap: wrap
  cursor: pointer
  gap: 3px
  a
    text-decoration: none
    font-size: 14px
    font-weight: 600
    color: black
    padding: 5px 10px
    border-radius: 8px
    cursor: pointer
    transition: all 0.6s ease
    @media screen and (max-width:768px)
      display: none
    &:hover
      color: white
      background-color: $color-azul-detalle
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.8)

.buttoms-specials
  @include flex(row,flex-star,center,5px)
  flex-wrap: wrap
  select
    font-size: 15px
    background-color: rgb(194, 43, 40)
    color: white
    padding: 6px 2px
    border: none
    border-radius: 10px
    outline: none
    cursor: pointer
    option 
      background-color: white
      color: black
  button
    cursor: pointer
    font-size: 15px
    background-color: rgb(194, 43, 40)
    color: white
    padding: 7px 4px
    border: none
    border-radius: 10px
    outline: none
    @media screen and (max-width:768px)
      display: none

